{% load static %}
<html>
  <head>
  </head>
  <body
    style="
      background-image: url('{% static 'images/hospital.jpg' %}');
      background-size: cover;
      height: 710px;
    "
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center my-auto">
            <div class="col-md-12">
              <div class="form-block" style="background: oldlace">
                <div class="mb-4"></div>
                <h1>Request an Appointment</h1>
                <form action="{% url 'create_event' %}" method="post">
                  {% csrf_token %}
                  {{letter.as_p}}
                  <button
                    type="submit"
                    name="get_appointment"
                  >
                    Confirm
                  </button>
                  
                </form>
                <a href="{% url 'appointment_details' %}"
                    ><button>See the Appointment details</button></a
                  >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
