{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
  </head>
  <body
    style="
      background-image: url('{% static 'images/hospital.jpg' %}');
      background-size: cover;
      height: 710px;
    "
  >
  <center><h1>Doctor Details</h1></center>
    {% block alldoctors %}
    <div class="container">
      <table class="table mx-auto">
        <thead>
          <tr>
            <th>Name</th>
            <th>Specialization</th>
          </tr>
        </thead>
        <tbody>
          {% for doctor in doctors %}
          <tr>
            <td>{{ doctor.name }}</td>
            <td>{{ doctor.specialization }}</td>
            <td><a href="{% url 'appointment_request' %}"><button>Book Appointments</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endblock %}
  
    </div>
     </body>
</html>
