<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>City Hospital</title>
  </head>
  <body>
  <div class="content" style="background:url('static/images/hospital.jpg');background-size:cover;height:700px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block" style="background: oldlace;">
                  <div class="mb-4">
                      <h1>Welcome to City Hospital</h1>
                  </div>
                  <label>If you already have registered!, Log In</label>
                  <div class="form-group last mb-4" style="margin-left: 110px;
                  width: 230px;">
                      <div><button class="btn btn-pill text-white btn-block btn-primary" style="background-color:yellow;border:none;"><a href="{% url 'login_view' %}">Login</a></button></div>
                  </div>
                  <label>First time user, sign up here!</label>
                  <div class="form-group last mb-4" style="margin-left: 110px;
                  width: 230px;">
                      <div><button class="btn btn-pill text-white btn-block btn-primary" style="background-color:yellow;border:none;"><a href="{% url 'register' %}">Sign Up</a></button></div>
                  </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>